{% include set_language.html %}
<!-- About section -->
<div id="band" class="section">
    <div class="container">
        <div class="margin-bottom-70 text-center">
            <h2 class="font-weight-normal">{{ data.labels.we_are_bomwinx }}</h2>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
            <div class="col-12 col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>
<!-- end About section -->

<!-- Image Slider -->
<div class="section padding-top-0">
    <div class="container">
        <div class="owl-carousel owl-dots-overlay" data-owl-items="1" data-owl-nav="true">
            <!-- Slider Image 1 -->
            <div>
                <img src="/assets/images/banner_bom_winxs_opt.jpg" alt="">
            </div>
            <!-- Slider Image 2 -->
            <div>
                <img src="/assets/images/banner_bom_winxs_opt.jpg" alt="">
            </div>
            <!-- Slider Image 3 -->
            <div>
                <img src="/assets/images/banner_bom_winxs_opt.jpg" alt="">
            </div>
        </div><!-- end owl-carousel -->
    </div><!-- end container -->
</div>
<!-- end Image Slider -->

<!-- Testimonial -->
<div id="testimonial" class="section border-top">
    <div class="container">
        <div class="owl-carousel" data-owl-items="1" data-owl-dots="false" data-owl-nav="true">
            <!-- Testimonial box 1 -->
            <div class="testimonial-box">
                <p class="margin-bottom-30">"¡¡¡Son la mejor banda del mundo!!! Me encantan sus canciones y todo lo que hacen juntas. Son las más cool"</p>
                <img class="margin-bottom-20" src="/assets/images/fausto.jpg" alt="">
                <h5 class="font-weight-normal margin-0">Fausto De La Torre</h5>
                <span>El mayor fan</span>
            </div>
            <!-- Testimonial box 2 -->
            <div class="testimonial-box">
                <p class="margin-bottom-30">"Sigan así! Felicitaciones!!!"</p>
                <img class="margin-bottom-20" src="/assets/images/daniela.jpg" alt="">
                <h5 class="font-weight-normal margin-0">Daniela López</h5>
                <span>La fan #1</span>
            </div>
            <div class="testimonial-box">
                <p class="margin-bottom-30">"Soy su fan!"</p>
                <img class="margin-bottom-20" src="/assets/images/vlady.jpg" alt="">
                <h5 class="font-weight-normal margin-0">Vladimir Sempértegui</h5>
                <span>Fan</span>
            </div>
        </div><!-- end owl-carousel -->
    </div><!-- end container -->
</div>
<!-- end Testimonial -->