<!-- Blog section -->
<div id="blog" class="section border-top">
    <div class="container">
        <div class="margin-bottom-70">
            <div class="row align-items-end">
                <div class="col-12 col-sm-6">
                    <h2 class="font-weight-normal">Latest Posts</h2>
                </div>
                <div class="col-12 col-sm-6 text-sm-right">
                    <a class="button-text-1" href="#">Read All Posts</a>
                </div>
            </div>
        </div>
        <div class="owl-carousel" data-owl-nav="false" data-owl-margin="30" data-owl-xs="1" data-owl-sm="1" data-owl-md="1" data-owl-lg="2" data-owl-xl="2" data-owl-autoPlay="true">
            <!-- Blog Slider Item 1 -->
            <div>
                <div class="hoverbox-9">
                    <a href="#">
                        <img src="../assets/images/col-2.jpg" alt="">
                        <div class="content bg-dark">
                            <span class="font-family-tertiary font-small font-weight-normal uppercase margin-0 text-white">Travel</span>
                        </div>
                    </a>
                </div>
                <div class="padding-30">
                    <h5 class="font-weight-normal margin-0"><a href="#">Blog Post Title</a></h5>
                    <span>Apr 29, 2019</span>
                </div>
            </div>
            <!-- Blog Slider Item 2 -->
            <div>
                <div class="hoverbox-9">
                    <a href="#">
                        <img src="../assets/images/col-2.jpg" alt="">
                        <div class="content bg-dark">
                            <span class="font-family-tertiary font-small font-weight-normal uppercase margin-0 text-white">Tips &amp; Tricks</span>
                        </div>
                    </a>
                </div>
                <div class="padding-30">
                    <h5 class="font-weight-normal margin-0"><a href="#">Blog Post Title</a></h5>
                    <span>Apr 28, 2019</span>
                </div>
            </div>
            <!-- Blog Slider Item 3 -->
            <div>
                <div class="hoverbox-9">
                    <a href="#">
                        <img src="../assets/images/col-2.jpg" alt="">
                        <div class="content bg-dark">
                            <span class="font-family-tertiary font-small font-weight-normal uppercase margin-0 text-white">Lifestyle</span>
                        </div>
                    </a>
                </div>
                <div class="padding-30">
                    <h5 class="font-weight-normal margin-0"><a href="#">Blog Post Title</a></h5>
                    <span>Apr 27, 2019</span>
                </div>
            </div>
        </div><!-- end owl-carousel -->
    </div><!-- end container -->
</div>
<!-- end Blog section -->