---
layout: default
---
{% include set_language.html %}
<!-- Hero section -->
<div id="home" class="section-fullscreen bg-image parallax" data-bg-src="/assets/images/banner_bom_winxs_opt.jpg">
    <div class="bg-black-06">
        <div class="container text-center">
            <div class="position-middle">
                <h1 class="display-4 font-weight-thin">{{ data.labels.home_title }}</h1>
            </div>
            <!-- smoothscroll button -->
            <div class="position-bottom">
                <a class="button-circle button-circle-lg button-circle-outline-white icon-lg" href="#songs">
                    <i class="ti-arrow-down"></i>
                </a>
            </div>
        </div><!-- end container -->
    </div>
</div>
<!-- end Hero section -->

{% include songs.html %}
{% include band.html %}
{% include contact.html %} 
